# Target Code
*.o
*.out
*.a
*.so
*.dylib

# Assets Library
assets/

# Local handy unit test sources
*unittest.cpp
testbench

# OS X Finder cache
.DS_Store

# NGWorld Working Directory Garbage
ngworld.log

# astyle backup
*.orig

# Binary & Object Files
obj/
bin/
