# Target Code
*.o
*.out
*.a
*.so
*.dylib

# Assets Library
assets/

# CMake Files
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt

# Local handy unit test sources
*unittest.cpp
